@model Home.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/metro-bootstrap.css" />
<link href="~/css/metro-bootstrap-responsive.css" rel="stylesheet" />
<link href="~/css/iconFont.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/core.css" rel="stylesheet" />
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<link href="~/Content/themes/base/theme.css" rel="stylesheet" />
<link href="~/Content/animate.min.css" rel="stylesheet" />
<br />
<br />
<br />
<br />

<style>
    .panel {
        box-shadow: 10px 10px 30px lightblue;
        border-color: lightblue;
        border-radius:20px;
        width:55%;
        padding-left:2%;
    }
</style>

<div style="padding-left:25%;">
    <div class="panel panel-primary">
        <div class="panel-body">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>@ViewBag.Title.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group input-group">
                    <label class="input-group-addon">Email</label>
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your registered email" })
                    <span class="input-group-addonn">
                        <input type="submit" class="btn btn-primary" value="Send link" />
                    </span>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
