@using Home.Models
@model IEnumerable<Transaction>

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/StartUpLayOut.cshtml";
}

<style>
    /* suppress link for printing */
    @@media only print {
        a {
            display: none;
        }
        .metro *
        {
            display:none !important;
        }
    }
</style>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/metro-bootstrap.css" />
<link href="~/css/metro-bootstrap-responsive.css" rel="stylesheet" />
<link href="~/css/iconFont.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/core.css" rel="stylesheet" />
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<link href="~/Content/themes/base/theme.css" rel="stylesheet" />
<link href="~/Content/animate.min.css" rel="stylesheet" />
@if (!Model.Any())
{
    <h2 class="text-center"><span class="fa fa-thumbs-down" style="color:red;font-size:3em;"></span>no results found</h2>
}
else
{
    <h2 class="text-center">Report</h2>
    <body>
        <a href="#" class="text-right pull-right" style="text-decoration:none" onclick="window.print(); return false;"><span class="fa fa-print"></span> Print</a>
        <table class="table">

            @*style="position:fixed;margin-top:-25px;text-decoration:none"*@

            <tr>
                <th>
                    Category
                </th>
                <th>
                    Transaction
                </th>
                <th>
                    Description
                </th>
                <th>
                    Amount
                    @*@Ajax.ActionLink("Amount", "Create", new { sortOrder = ViewBag.Amount },null)*@
                    @*@Html.ActionLink("Amount", "Create", new { sortOrder = ViewBag.Amount })*@
                </th>
                <th>
                    Date
                    @*@Html.ActionLink("Date", "Create", new { sortOrder = ViewBag.Date })*@
                </th>
                <th>
                    Transaction
                </th>
            </tr>
            @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionTypes)
            </td>
        </tr>
        }
        </table>
        <a href="#" class="text-right pull-right" style="text-decoration:none" onclick="window.print(); return false;"><span class="fa fa-print"></span> Print</a>
    </body>
}
