@model Home.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/metro-bootstrap.css" />
<link href="~/css/metro-bootstrap-responsive.css" rel="stylesheet" />
<link href="~/css/iconFont.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/core.css" rel="stylesheet" />
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<link href="~/Content/themes/base/theme.css" rel="stylesheet" />
<link href="~/Content/animate.min.css" rel="stylesheet" />
<style>
    .panel {
        box-shadow: 10px 10px 30px lightblue;
        border-color: lightblue;
        border-radius: 20px;
        width: 58%;
        padding-left: 2%;
    }
</style>


<div style="padding-left:25%;padding-top:6%;">
    <div class="panel panel-primary">
        <div class="panel-body">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Change Password Form</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group input-group">
                    <label class="input-group-addon" style="width:150px;">Old password</label>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", style = "width:250px;" })
                </div>
                <div class="form-group input-group">
                    <label class="input-group-addon" style="width:150px;">New password</label>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", style = "width:250px;" })
                </div>
                <div class="form-group input-group">
                    <label class="input-group-addon" style="width:150px;">Confirm password</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", style = "width:250px;" })
                </div>
                <div class="form-group text-right pull-right" style="padding-right:15%;">
                    <a href="@Url.Action("Index","Manage")" class="btn btn-default">Cancel</a>
                    <input type="submit" value="Change password" style="width:150px;" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script>
    $(document).ready(function () {
        $("#OldPassword").focus();
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}