@model IEnumerable<Home.Models.GroceriesList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroceriesCategory.GroceriesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appUserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroceriesCategory.GroceriesName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appUserId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GroceriesListId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GroceriesListId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GroceriesListId })
        </td>
    </tr>
}

</table>
